.table-responsive table{
    width: 50%;
    float: left;
}

.table-responsive .group-detail{
    width: 50%;
    border: solid black 2px; 
    float: right;
}

.table-responsive table td{
    padding-right: 15px;
}