<div class="header bg-gradient-sogeti pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0 float-left">Groepen</h3>
          <button (click)="openModalAddGroup(add)" class="btn btn-info float-right">Groep aanmaken</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Naam</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let group of groups">
                <td>
                  {{group.name}}
                </td>
                <td>
                  <button class="btn btn-primary" type="button" (click)="onSelect(group)">Bekijk groep</button>
                  <button class="btn btn-danger" (click)="openModalDeleteGroup(delete, group)">Verwijderen</button>
                </td>
              </tr>
              </tbody>
            </table>

            <!-- Views the group-detail component.html of the selected group on the right side of the page -->
            <app-group-detail [group]="selectedGroup"></app-group-detail>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Toedienmoment toevoegen</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="intakeMomentForm" (ngSubmit)="onSave()">
        <label for="intake_start_time_add">Starttijd</label>
        <input formControlName="intakeStartTime" type="datetime-local" class="form-control" id="intake_start_time_add" required [ngClass]="{ 'is-invalid': submitted && intakeAddForm.intakeStartTime.errors }">
        <div *ngIf="submitted && intakeAddForm.intakeStartTime.errors" class="invalid-feedback">
          <div *ngIf="intakeAddForm.intakeStartTime.errors.required">Starttijd is vereist</div>
        </div>
        <label for="priority_add">Prioriteit</label>
        <select formControlName="priorityNumber" id="priority_add" class="form-control" required [ngClass]="{ 'is-invalid': submitted && intakeAddForm.priorityNumber.errors }">
          <option *ngFor="let priority of priorities" value="{{priority.number}}">{{priority.number}}</option>
        </select>
        <div *ngIf="submitted && intakeAddForm.priorityNumber.errors" class="invalid-feedback">
          <div *ngIf="intakeAddForm.priorityNumber.errors.required">Prioriteit is vereist</div>
        </div>
        <label for="dispenser_add">Toediener</label>
        <select formControlName="dispenser" id="dispenser_add" class="form-control">
          <option *ngFor="let dispenser of dispensers" value="{{dispenser.id}}">{{dispenser.name}}</option>
        </select>
  
        <hr>
        
        <div>     
          <h3 class="modal-title pull-left">Medicijnen</h3>     
          <div formArrayName="medicines" *ngFor="let medicine of intakeMomentForm.get('medicines').controls; let i = index">
            <hr *ngIf="i>0">
            <div [formGroupName]="i">
              <label for="medicine_id">Medicijn</label>
              <select formControlName="medicine_id" id="medicine_id" class="form-control" required>
                <option *ngFor="let option of medicines" value="{{option.id}}">{{option.name}}</option>
              </select>
              <label for="time_window">Aantal minuten om medicijn toe te dienen</label>
              <input type="text" class="form-control" id="time_window" formControlName="time_window">
              <label for="dosage">Dosis</label>
              <input type="text" class="form-control" id="dosage" formControlName="dosage">
            </div>
            <button *ngIf="i > 0;" type="button" class="btn btn-danger" (click)="deleteMedicineButtonClick(i)">Verwijder medicijn</button>
          </div>
        <button type="button" class="btn btn-primary" (click)="addMedicineButtonClick()" [disabled]="intakeMomentForm.get('medicines').invalid">Voeg nog een medicijn toe</button>
        </div>
        <div *ngIf="submitted && intakeMomentForm.get('medicines').invalid" class="invalid-feedback">
          <div *ngIf="intakeMomentForm.get('medicines').invalid">Medicijn, dosering en tijdvak zijn vereist</div>
        </div>
  
        <hr>
        
        <label for="remark_add">Opmerking</label>
        <textarea type="text" class="form-control" id="remark_add" formControlName="remark"></textarea>
        <button class="btn btn-primary" type="submit" >Opslaan</button>
      </form>
    </div>
  </ng-template>

<ng-template #delete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Verwijderen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label>Weet u zeker dat u de groep: <i>{{group.name}}</i> wilt verwijderen?</label>
      <br>
      <button class="btn btn-primary" (click)="modalRef.hide()">Anuleren</button>
      <button class="btn btn-danger" (click)="deleteGroup(group)">Verwijderen</button>
    </form>
  </div>
</ng-template>
