<div class="header bg-gradient-sogeti pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Ontvangers</h3>
        </div>
        <div class="card-body">
          <div class="float-right">
            <button (click)="openModalAdd(add)" class="btn btn-info">Ontvanger toevoegen</button>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Naam</th>
                <th scope="col"></th>
                <!--<th scope="col">Role</th>-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of list">
                <th scope="row">
                  <div class="media align-items-center">
                    <span class="mb-0 text-sm">{{item.id}}</span>
                  </div>
                </th>
                <td>
                  {{item.name}}
                </td>
                <td>
                  <button class="btn btn-primary" (click)="openModalAlter(alter, item)" >Aanpassen</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ontvanger toevoegen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label for="name">Naam</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="receiver.name">
      <p class="text-danger">{{errorMsg.name}}</p>
      <button class="btn btn-primary" (click)="onSave()" >Opslaan</button>
    </form>
  </div>
</ng-template>

<ng-template #alter>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aanpassen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label for="name">Naam</label>
      <input type="text" class="form-control" id="alterName" name="name" [(ngModel)]="receiver.name">
      <p class="text-danger">{{errorMsg.name}}</p>
      <button class="btn btn-primary" (click)="onAlter()" >Opslaan</button>
    </form>
  </div>
</ng-template>
