
.modal-title{
    margin-bottom: 10px;
}

hr{
    border: 1px solid silver;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

td button{
    margin-top: 0px;
    margin-bottom: 0px;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
}
