<div class="header bg-gradient-sogeti pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Indienmomenten</h3>
        </div>
        <div class="card-body">

            <div class="float-right">
              <button (click)="openModalAddIntakemoment(add)" class="btn btn-info">Toedienmoment toevoegen</button>
            </div>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Starttijd</th>
                  <th scope="col">Eindtijd</th>
                  <th scope="col">Prioriteit</th>
                  <th scope="col">Toediener</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let intakeMoment of intakemoments">
                  <th scope="row">
                      <div class="media align-items-center">
                        <span class="mb-0 text-sm">{{intakeMoment.id}}</span>
                      </div>
                    </th>
                    <td>{{intakeMoment.intake_start_time}}</td>
                    <td>{{intakeMoment.intake_end_time}}</td>
                    <td>{{intakeMoment.priority_number.number}}</td>
                    <td>{{intakeMoment.dispenser.name}}</td>
                    <td>
                      <button class="btn btn-primary" (click)="openModalEditIntakemoment(alter, intakeMoment)" >Aanpassen</button>
                      <button class="btn btn-danger" (click)="openModalDelete(delete, intakeMoment)" >Verwijderen</button>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          
          <!-- <div class="row text-center">
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Previous
                </div>
                <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                >
                  Today
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Next
                </div>
              </div>
            </div>
          </div>

            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div>

            <br />

          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-day-view>
          </div>
        
        <!- Everything you see below is just for the demo, you don't need to include it in your app 
        
        <br /><br /><br />
        
        <h3>
          Edit events
          <button class="btn btn-primary pull-right" (click)="addEvent()">
            Add new
          </button>
          <div class="clearfix"></div>
        </h3>
        
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Primary color</th>
                <th>Secondary color</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let event of events">
                <td>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="event.title"
                    (keyup)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="event.color.primary"
                    (change)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    type="color"
                    [(ngModel)]="event.color.secondary"
                    (change)="refresh.next()"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
                  />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteEvent(event)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Toedienmoment toevoegen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label for="name">Starttijd</label>
      <input type="datetime-local" class="form-control" id="intake_start_time" name="intake_start_time" [(ngModel)]="intakeMoment.intake_start_time">
      <label for="remark">Prioriteit</label>
      <input type="text" class="form-control" id="priority_number" name="priority_number" [(ngModel)]="intakeMoment.priority_number">
      <label for="priority_number">Toediener</label>
      <input type="text" class="form-control" id="dispenser" name="dispenser" [(ngModel)]="intakeMoment.dispenser">
     
      <label for="medicines">Medicijn(en)</label>
      <form [formgroup]="medicineForm">
      <input type="text" class="form-control" id="dispenser" name="dispenser" [(ngModel)]="intakeMoment.dispenser">
      <input type="text" class="form-control" id="dispenser" name="dispenser" [(ngModel)]="intakeMoment.dispenser">
      <input type="text" class="form-control" id="dispenser" name="dispenser" [(ngModel)]="intakeMoment.dispenser">
      </form>
      
      <label for="intake_end_time">Opmerking</label>
      <textarea type="text" class="form-control" id="remark" name="remark" [(ngModel)]="intakeMoment.remark"></textarea>
      
      <p class="text-danger">{{errorMsg.name}}</p>
      <button class="btn btn-primary" (click)="onSave()" >Opslaan</button>
    </form>
  </div>
</ng-template>

<ng-template #alter>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aanpassen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <label for="name">Starttijd</label>
        <input type="datetime-local" class="form-control" id="intake_start_time" name="intake_start_time" [(ngModel)]="intakeMoment.intake_start_time">
        <label for="intake_start_time">Eindtijd</label>
        <input type="datetime-local" class="form-control" id="intake_end_time" name="intake_end_time" [(ngModel)]="intakeMoment.intake_end_time">
        <label for="remark">Prioriteit</label>
        <input type="text" class="form-control" id="priority_number" name="priority_number" [(ngModel)]="intakeMoment.priority_number">
        <label for="priority_number">Toediener</label>
        <input type="text" class="form-control" id="dispenser" name="dispenser" [(ngModel)]="intakeMoment.dispenser">
        <label for="intake_end_time">Opmerking</label>
        <textarea type="text" class="form-control" id="remark" name="remark" [(ngModel)]="intakeMoment.remark"></textarea>
      
        <p class="text-danger">{{errorMsg.name}}</p>
      <button class="btn btn-primary" (click)="onAlter()">Opslaan</button>
    </form>
  </div>
</ng-template>

<ng-template #delete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Verwijderen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label>Weet u zeker dat u het indienmoment voor ... wilt verwijderen?</label>
      <br>
      <button class="btn btn-primary" (click)="modalRef.hide()">Anuleren</button>
      <button class="btn btn-danger" (click)="deleteIntakeMoment(intakeMoment)" >Verwijderen</button>
    </form>
  </div>
</ng-template>
