<!-- If a group exists -->
<div *ngIf="group">  
  
  <!-- Page content -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0 float-left">{{group.name}}</h3>
            <button (click)="(alter)" class="btn btn-info float-right">Groep aanpassen</button>
          </div>
          <div class="card-body">
            <h5 class="mb-0 float-left">Naam: {{group.name}}</h5>
          <br>
            <div >
              <p>Toedieners: </p> 
            </div>
            <div >
              <p>Ontvangers: </p>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>

<ng-template #alter>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Aanpassen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="intakeMomentEditForm" (ngSubmit)="onAlter()">
      <label for="intake_start_time_edit">Starttijd</label>
      <input formControlName="intakeStartTime" type="datetime-local" class="form-control" id="intake_start_time_edit"
        required [ngClass]="{ 'is-invalid': submitted && intakeEditForm.intakeStartTime.errors }">
      <div *ngIf="submitted && intakeEditForm.intakeStartTime.errors" class="invalid-feedback">
        <div *ngIf="intakeEditForm.intakeStartTime.errors.required">Starttijd is vereist</div>
      </div>
      <label for="priority_edit">Prioriteit</label>
      <select formControlName="priorityNumber" id="priority_edit" class="form-control" required
        [ngClass]="{ 'is-invalid': submitted && intakeEditForm.priorityNumber.errors }">
        <option *ngFor="let priority of priorities" value="{{priority.number}}">{{priority.number}}</option>
      </select>
      <div *ngIf="submitted && intakeEditForm.priorityNumber.errors" class="invalid-feedback">
        <div *ngIf="intakeEditForm.priorityNumber.errors.required">Prioriteit is vereist</div>
      </div>
      <label for="dispenser_edit">Toediener</label>
      <select formControlName="dispenser" id="dispenser_edit" class="form-control">
        <option *ngFor="let dispenser of dispensers" value="{{dispenser.id}}">{{dispenser.name}}</option>
      </select>

      <hr>

      <div>
        <h3 class="modal-title pull-left">Medicijnen</h3>
        <div formArrayName="medicines"
          *ngFor="let medicine of intakeMomentEditForm.get('medicines').controls; let i = index">
          <hr *ngIf="i>0">
          <div [formGroupName]="i">
            <label for="medicine_id_edit">Medicijn</label>
            <select formControlName="medicine_id" id="medicine_id_edit" class="form-control" required>
              <option *ngFor="let option of medicines" value="{{option.id}}">{{option.name}}</option>
            </select>
            <label for="time_window_edit">Aantal minuten om medicijn toe te dienen</label>
            <input type="text" class="form-control" id="time_window_edit" formControlName="time_window">
            <label for="dosage_edit">Dosis</label>
            <input type="text" class="form-control" id="dosage_edit" formControlName="dosage">
          </div>
          <button *ngIf="i > 0;" type="button" class="btn btn-danger"
            (click)="deleteMedicineEditButtonClick(i)">Verwijder medicijn</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="addMedicineEditButtonClick()"
          [disabled]="intakeMomentEditForm.get('medicines').invalid">Voeg nog een medicijn toe</button>
      </div>
      <div *ngIf="submitted && intakeMomentEditForm.get('medicines').invalid" class="invalid-feedback">
        <div *ngIf="intakeMomentEditForm.get('medicines').invalid">Medicijn, dosering en tijdvak zijn vereist</div>
      </div>

      <hr>

      <label for="remark_edit">Opmerking</label>
      <textarea type="text" class="form-control" id="remark_edit" formControlName="remark"></textarea>
      <button class="btn btn-primary" type="submit">Opslaan</button>
    </form>
  </div>
</ng-template>

<ng-template #delete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Verwijderen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label>Weet u zeker dat u het indienmoment voor {{intakeMoment.receiver_id.name}} wilt verwijderen?</label>
      <br>
      <button class="btn btn-primary" (click)="modalRef.hide()">Anuleren</button>
      <button class="btn btn-danger" (click)="deleteIntakeMoment(intakeMoment)">Verwijderen</button>
    </form>
  </div>
</ng-template>