<div>
<form [formGroup]="groupForm" (ngSubmit)="onAlter()">
      <label for="group_name">Naam</label>
      <input type="text" formControlName="groupName" class="form-control" id="group_name"
        required [ngClass]="{ 'is-invalid': submitted && groupForm.name.errors }">
      <div *ngIf="submitted && groupForm.name.errors" class="invalid-feedback">
        <div *ngIf="groupForm.name.errors.required">Naam is vereist</div>
      </div>

      <hr>

      <div>
        <h3 class="modal-title pull-left">Toedieners</h3>
        <div formArrayName="dispensers"
          *ngFor="let dispenser of groupForm.get('dispensers').controls; let i = index">
          <hr *ngIf="i>0">
          <div [formGroupName]="i">
            <label for="dispenser_id">Toediener</label>
            <select formControlName="dispenser_id" id="dispenser_id" class="form-control" required>
              <option *ngFor="let option of dispensers" value="{{option.id}}">{{option.name}}</option>
            </select>
            <label for="priority_id">Prioriteit van toediener</label>
            <select formControlName="priority_id" id="priority_id" class="form-control" required>
              <option *ngFor="let option of priorities" value="{{option.number}}">{{option.number}}</option>
            </select>
          </div>
          <button *ngIf="i > 0;" type="button" class="btn btn-danger"
            (click)="deleteDispenserButtonClick(i)">Verwijder Toediener</button>
        </div>
        <button type="button" class="btn btn-primary" (click)="addDispenserButtonClick()"
          [disabled]="groupForm.get('dispensers').invalid">Voeg nog een toediener toe</button>
      </div>
      <div *ngIf="submitted && groupForm.get('dispensers').invalid" class="invalid-feedback">
        <div *ngIf="groupForm.get('dispensers').invalid">Toediener en Prioriteit zijn vereist</div>
      </div>

      <hr>

      <h3 class="modal-title pull-left">Ontvangers</h3>
      <div formArrayName="receivers"
           *ngFor="let receiver of groupForm.get('receivers').controls; let i = index">
        <hr *ngIf="i>0">
        <div [formGroupName]="i">
          <label for="receiver_id">Ontvanger</label>
          <select formControlName="receiver_id" id="receiver_id" class="form-control" required>
            <option *ngFor="let option of receivers" value="{{option.id}}">{{option.name}}</option>
          </select>
        </div>
        <button *ngIf="i > 0;" type="button" class="btn btn-danger"
                (click)="deleteReceiverButtonClick(i)">Verwijder Ontvanger</button>
      </div>
      <button type="button" class="btn btn-primary" (click)="addReceiverButtonClick()"
              [disabled]="groupForm.get('receivers').invalid">Voeg nog een ontvanger toe</button>

      <button class="btn btn-primary" type="submit">Opslaan</button>
    </form>
</div>
