<div class="group_add">
  <form [formGroup]="groupForm" (ngSubmit)="saveGroup()">
    <label for="name">Naam</label>
    <input type="text" formControlName="name" class="form-control" id="name" required
      [ngClass]="{ 'is-invalid': submitted && groupFormControls.name.errors }">
    <div *ngIf="submitted && groupFormControls.name.errors" class="invalid-feedback">
      <div *ngIf="groupFormControls.name.errors.required">Naam is vereist</div>
    </div>

    <hr>

    <div class="dispenser_add">
      <h3 class="modal-title pull-left">Toedieners</h3>
      <div formArrayName="group_dispensers" *ngFor="let dispenser of groupForm.get('group_dispensers').controls; let i = index">
        <hr *ngIf="i>0">
        <div [formGroupName]="i">
          <div class="dispenser">
            <div class="dispenser_name">
              <label for="user_id">Toediener</label>
              <select formControlName="user_id" id="user_id" class="form-control" required>
                <option *ngFor="let option of dispensers" value="{{option.id}}" [disabled]="checkDuplicateDispenser(option.id)">{{option.name}}</option>
              </select>
            </div>
            <div class="dispenser_priority">
              <label for="priority">Prioriteit van toediener</label>
              <select formControlName="priority" id="priority" class="form-control" required>
                <option *ngFor="let option of priorities" value="{{option.number}}">{{option.number}}</option>
              </select>
            </div>
            <div class="delete_dispenser">
              <button type="button" class="btn btn-danger" (click)="deleteDispenserButtonClick(i)">Verwijder toediener
              </button>
            </div>
          </div>
        </div>
        
      </div>
      <button type="button" class="btn btn-primary" (click)="addDispenserButtonClick()"
        [disabled]="groupForm.get('group_dispensers').invalid">Voeg een toediener toe</button>
    </div>
    <div *ngIf="submitted" class="invalid-feedback">
      <div *ngIf="groupForm.get('group_dispensers').invalid">Toediener en prioriteit zijn vereist</div>
    </div>

    <hr>

    <div class="receiver_add">
      <h3 class="modal-title pull-left">Ontvangers</h3>
      <div formArrayName="receivers" *ngFor="let receiver of groupForm.get('receivers').controls; let i = index">
        <hr *ngIf="i>0">
        <div [formGroupName]="i">
          <div class="receiver">
            <label for="id">Ontvanger</label>
            <select formControlName="id" id="id" class="form-control" required>
              <option *ngFor="let option of receivers" value="{{option.id}}" [disabled]="checkDuplicateReceiver(option.id)">{{option.name}}</option>
            </select>
            <button type="button" class="btn btn-danger" (click)="deleteReceiverButtonClick(i)">Verwijder ontvanger
            </button>
          </div>          
        </div>        
      </div>
      <button type="button" class="btn btn-primary" (click)="addReceiverButtonClick()"
        [disabled]="groupForm.get('receivers').invalid">Voeg een ontvanger toe</button>
    </div>

    <hr>
    
    <button class="btn btn-primary float-right" type="submit">Opslaan</button>
  </form>
</div>
