<div class="header bg-gradient-sogeti pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Details</h3>
        </div>
        <div class="card-body">
          <h2>{{ selectedDispenser.name }}</h2>
          <form>
            <div class="form-group mt-2">
              <h4>Huidige rol: {{selectedDispenser.role}}</h4>
              <label for="role" class="mt-2">Wijzig rol</label>
              <select class="form-control" id="role">
                <option *ngFor="let option of dispenserOptions">{{option}}</option>
              </select>
            </div>
          </form>
          <div class="card-footer py-4">
            <div>
              <button class="btn btn-info" (click)="editRole()">Opslaan</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Toediener toevoegen</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label for="name">naam</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
      <p class="text-danger">{{errorMsg.name}}</p>
      <label for="email">e-mail</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
      <p class="text-danger">{{errorMsg.email}}</p>
      <button class="btn btn-primary" (click)="onSave()">Opslaan</button>
    </form>
  </div>
</ng-template>