<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a class="navbar-brand" routerLinkActive="active">
        <img src="assets/img/brand/sogeti_white.png" />
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">SOe</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a class="nav-link" target="_blank">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank">Link 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
